
@{
    ViewBag.Title = "Помилка";
}
<hr />
<div class="text-danger" align="center">
    <div class="my-p">
        <h2><strong>Помилка!</strong> Виникли деякі проблеми</h2>
    </div>
</div>
<br />

