
@{
    ViewBag.Title = "Успіх";
}
<hr />
<div class="text-success" align="center">
    <div class="my-p">
        <h2><strong>Успіх!</strong> Операція успішно виконана</h2>
    </div>
</div>
<br />
<p align="center"><a class="btn btn-default" href="~/Administrating/Index">Повернутися до Адміністрування &raquo;</a></p>

