@{
    ViewBag.Title = "Про Проект";
}

<h2>@ViewBag.Title</h2>

<h3>Курсова Робота</h3>
<h5>з дисципліни “ Програмні додатки з використанням баз даних”</h5>

<br />

<h4>Опис завдання:</h4>
<h5>Варіант 26</h5>
<h5>Альпіністська база</h5>

<br />
<p align="justify">
    Альпіністська база (Грузія, Росія, Киргизстан) приймає всіх бажаючих альпіністів і туристів,
    відпочиваючих (надалі – альпіністи). Одначе послуги бази платні.
</p>
<p align="justify">
    Під час перебування на базі альпініст повинен оплатити бухгалтеру ночівлю або в наметі,
    або в будинку (що в 3 рази дорожче). Також він може замовити і оплатити бухгалтеру
    наперед триразове харчування (окремо сніданок, обід і вечерю).
</p>
<p align="justify">
    В разі виходу в високогірну зону альпініст (або група) може:
</p>
<ul>
    <li>Придбати продукти на складі у комірника.</li>
    <li>Отримати дозвіл і радіостанцію у начальника рятувальної служби.</li>
    <li>Виходити на зв’язок згідно розкладу.</li>
</ul>
<p align="justify">
    Після повернення на базу альпініст має знову оплатити ночівлю і при необхідності харчування,
    а також повернути радіостанцію і доповісти начальнику рятувальної служби щодо стану маршруту.
</p>
<p align="justify">
    Бухгалтера цікавить звіт, де відображено, хто з альпіністів оплатив яку суму, за що і на який період.
    Начальника рятувальної служби цікавить, які групи знаходяться на яких маршрутах
    і які у них терміни повернення на базу.
</p>