@{
    ViewBag.Title = "Контакти";
}
<h2>@ViewBag.Title</h2>

<address>
    Гладишко Валентин<br />
    Група ІП-51<br />
    ФІОТ<br />
    HТУУ "КПІ"<br />
</address>

<address>
    <strong>Телефон:</strong> 099-545-14-33<br />
    <strong>Пошта:</strong> 55valentine99@gmail.com<br />
</address>