@{
    ViewBag.Title = "Домашня сторінка";
}

<div class="jumbotron">
    <h1>Керування Альпіністською базою</h1>
    <p class="lead">
        Керування Альпіністською базою - це додаток, який дозволяє легко дізнаватись необхідну статистику та
        формувати звіти стосовно альпіністської бази, а також допомагає стежити за рівнем безпеки маршутів вашої бази.
    </p>
</div>    

<div class="row">
    <div class="col-md-3">
        <h2>Статистика</h2>
        <p>
            За допомогою вкладки "Статистика" ви можете легко дізнатись необхідну інформацію стосовно статистики прибутків вашої альпіністської бази,
            та іншу цікаву інформацію стосовно фінансів.
        </p>

        <p><a class="btn btn-default" href="~/Statistics/Index">Статистика &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Бухгалтерський облік</h2>
        <p>
            За допомогою "Бухгалтерського обліку" ви можете отримати необхідні звіти стосовно прибутків за певний період,
            а також дізнатись необхідну інформацію стосовно замовлень відвідувачів альпіністської бази.
        </p>

        <p><a class="btn btn-default" href="~/Accounting/Index">Бухгалтерський oблік &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Рятувальна служба</h2>
        <p>
            Якщо вам потрібно дізнатись рівень безпеки маршутів вашої альпіністської бази,
            цей інструмент саме те що вам необхідно.
        </p>
        <p><a class="btn btn-default" href="~/RescueService/Index">Рятувальна cлужба &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Адміністрування</h2>
        <p>Цей інструмент створений для додавання в базу даних нових aльпіністів та замовлень відвідувачів альпіністської бази.</p>
        <p><a class="btn btn-default" href="~/Administrating/Index">Адміністрування &raquo;</a></p>
    </div>
</div>